/*  your css code here. If applicable */
#yellow{
	
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-color:green;
	border-bottom-color:green;
	border-right-color:green;
	border-left-color:green;
	background:yellow;
	border-width:1px;
}
#red{
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-color:black;
	border-bottom-color:black;
	border-right-color:black;
	border-left-color:black;
	background:red;
	border-width:1px;
}
#green{
	border-top-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-color:yellow;
	border-bottom-color:yellow;
	border-right-color:yellow;
	border-left-color:yellow;
	background:green;
	border-width:1px;
}